* {
    background-color: whitesmoke;
    font-family:'Gill Sans MT', sans-serif;
    color: rgb(107, 106, 106);
}

body {
    border: 2px solid goldenrod;
    padding: 10px;
}

header {
    text-align: center;
}

h1 {
    font-size: 25px;
    text-align: center;
    padding-left: 20px;
}


nav, footer {
    border: 2px solid rgb(218, 165, 32);
    padding: 12px;
    text-align: center;
}

a {
    margin: 12px;
    padding: 12px;
    text-shadow: 0px 0px 5px rgb(255, 187, 2);
    font-size: 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(218, 165, 32, 0.311);
}

p {
    font-size: 20px;
}

del {
    color: black;
}

#main {
    margin: 50px;
    display: flex;
    justify-content: center;
}

#main p {
    width: 200px;
    height: 400px;
    text-align: center;
}

#main img {
    height: 500px;
}

#head {
    text-align: center;
}

.footer {
    height: 30px;
}